/ Everton Souza/

package com.fastsoshotmail.fastsos;

import android.app.AlertDialog;
import android.content.DialogInterface;
import android.database.sqlite.SQLiteException;
import android.os.Bundle;
import android.support.v7.app.AppCompatActivity;
import android.view.View;
import android.widget.EditText;
import android.widget.TextView;
import android.widget.Toast;


public class FastSOS extends AppCompatActivity {

    EditText nome,sobrenome;
    TextView textView;
    BD_Controle controller;


    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.content_fast_sos);

        nome= (EditText)findViewById(R.id.nome_input);
        sobrenome = (EditText)findViewById(R.id.telefone_input);
        textView = (TextView)findViewById(R.id.textView);


        controller = new BD_Controle(this, "", null,1);
        
    }
    
    --> Ícaro Campos <--
    
    public void btn_click(View view){
        switch (view.getId()){
            case R.id.button_add:
                try {
                    controller.insert_usuario(nome.getText().toString(), sobrenome.getText().toString());
                }catch (SQLiteException e){
                    Toast.makeText(FastSOS.this, "Já existe", Toast.LENGTH_SHORT).show();
                }
                break;
            case R.id.list_usuarios:
                controller.list_all_usuarios(textView);
                break;
        }
    }
} 

-->jhonnata lennon <--

            case R.id.btn_delete:
                controller.delete_usuario(nome.getText().toString());
                break;

    --> Valmir Júnior <--
    
                case R.id.btn_update :
                AlertDialog.Builder dialog = new AlertDialog.Builder(FastSOS.this);
                dialog.setTitle("Digite o seu nome");

                final EditText new_nome = new EditText(this);
                dialog.setView(new_nome);

                dialog.setPositiveButton("Pronto", new DialogInterface.OnClickListener() {
                    @Override
                    public void onClick(DialogInterface dialogInterface, int i) {
                        controller.update_usuario(nome.getText().toString(), new_nome.getText().toString());
                    }
                });

                dialog.show();

                break;
